body {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'OCR A Std'; */
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  user-select: none;
  font-variant-ligatures: no-common-ligatures;
}


::-webkit-scrollbar-track {
  background-color: rgb(17, 15, 34);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: underline;
}

.link {
  text-decoration: underline;
}